@tailwind base;
@tailwind components;
@tailwind utilities;
header {   
    position: fixed;
}
.portada{
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url(https://github.com/AngelManuelCerecedo/ImgDH/blob/main/Foto-Portada.jpeg?raw=true);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: initial;
    padding: 15px;
    margin: -8px;
    color: #ffffff;
    text-align: left;
}
.iconport{
    font-size: 30px;
    text-align: left;
    margin-left: 10px;
}
.textport{
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: left;
}
.imgtop{
    margin-left: 20px;
    margin-top: -24px;
    width: 190px;
    height: 72.2px;
}
.inconP{
    color: #020101;
    font-size: 28px;
    margin-top: 2px;
}
.down{
    color: #020101;
    font-size: 9px;
    margin-top: 15px;
}
nav{
    max-width: 860px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 2px;
}
.menu-horizontal{
    margin-left: 900px;
    list-style: none;
    display: flex;
}
.menu-horizontal >li>a{
    display: block;
    padding: 13px 10px;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 100px;
}
.menu-horizontal li:hover .menu-vertical{
    font-family: 'Open Sans', sans-serif;
    display: block;
    background-color: #ffffff;
}
.menu-vertical li a{
    display: block;
    padding: 2px 15px ;
}
.contentm{
    margin-left: 270px;   
}
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: #69747F;
    border-radius: 5px;
}
.tableFixHead {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    border: #000000;
    height: 500px;
    width: 1070px;
    /* gives an initial height of 200px to the table */
}
.tableFixHeadCOT {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 245px;
    width: 800px;
    border-color: #000000;
    border-bottom: #000000;
    /* gives an initial height of 200px to the table */
}
.tableFixHeadLOT {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 245px;
    width: 1000px;
    border-color: #000000;
    border-bottom: #000000;
    /* gives an initial height of 200px to the table */
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #69747F;
    border-radius: 5px;
}
.tablaLOT {
    border-width: 2px;
}
.tablaPV {
    border-width: 2px;
    margin-left: 15px;
}
.tablaPVBOT {
    margin-top: -55px;
}
.tabla{
    border-width: 2px;
    margin-left: 15px;
    width: 1120px;
}
.tablaesc{
    margin-left: 15px;
    border-color: #00ACAC;
    width: 700px;
    
}
.etiquetaTABLACOMP{
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.panel{
    background-color: #ffffff;
    width: 1150px;
    border-radius: 5px;
    height: auto;
}

.panelPV{
    background-color: #ffffff;
    width: 1458px;
    height: auto;
}
.panelPVBOT{
    margin-top: -120px;
}
.paneltop{
    background-color: #ffffff;
    border-radius: 5px;
    height: 48px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.boton{
    background-color: #1C75C7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.botond{
    background-color: #eba037;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.botonCP{
    background-color: #1C75C7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.botonGP{
    background-color: #00ACAC;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.botonL{
    background-color: #1C75C7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 235px;
    height: 38px;
}
.botonm{
    background-color: #00ACAC;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    width: 110px;
    height: 35px;   
}
.botonr{
    background-color: #b8bacb;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 150px;
    height: 38px;
}
.botone{
    background-color: #ff0000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 150px;
    height: 38px;
}
.botonRC{
    background-color: #ff0000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.botonei{
    background-color: #ff0000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 40px;
    height: 35px;
}
.botonPV{
    margin-top: -10px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #D9DEE3;
    width: 100px;
}
.botonCOB{
    width: 100px;
    height: 50px;
}
.botonPVPROMO{
    width: 300px;
    height: 150px;
}
.botoneAL{
    background-color: #002fff;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 40px;
    height: 35px;
}
.botoni{
    background-color: #17b627;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    width: 150px;
    height: 38px;
}
.etiqueta{
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 6px;
}
.etiquetaT{
    color: black;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}
.etiquetaI{
    color: black;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8px;
}
.etiquetaTP{
    color: rgb(252, 0, 0);
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 8px;
}
.inputS{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 280px;
    height: 40px;
}
.inputN{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 320px;
    height: 40px;
}
.inputCB{
    font-family: 'Open Sans', sans-serif;
    margin-top: 2px;
    width: 460px;
    height: 52px;
}
.inputM{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    height: 40px;
}
.inputImporteDesblo{
    border: solid 2px #D5DBE0;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 36px;
}
.inputImportes{
    border: solid 2px #D5DBE0;
    background-color: #e9ecef;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 36px;
}
.inputL{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    height: 40px;
}
.inputB{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 600px;
}
.inputXL{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 800px;
    height: 40px;
}
.inputSML{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 35px;
}
.input{
    border: solid 2px #9e9a9a;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    width: 240px;
    height: 40px;
}
.datos{
    color: black;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
.datosT{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;

}
.datosTS{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}
.resaltado{
    color: #000000;
    font-size: 19px;
}
.resaltado:hover{
    color: #080606;
    font-size: 20px;
    font-weight: bold;
}
.MDA{
    color: #000000;
    font-size: 14px;   
}
.MDA:hover{
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.titulos{   
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
}