@tailwind base;
@tailwind components;
@tailwind utilities;
.table-wrapper {
    overflow-x: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    border: 1px solid #ddd;
}
table thead tr {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}
table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}
table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}
table tbody tr:hover {
    background-color: #f1f1f1;
}
@media (max-width: 700px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        margin-bottom: 15px;
    }
    table tbody tr td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 35%;
        text-align: left;
    }
    table tbody tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.botonDETALLES{
    background-color: #00ACAC;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    width: 110px;
    height: 35px;   
}
.botonPAGOS{
    background-color: #3B82F6;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    width: 110px;
    height: 35px;   
}
.botonEliminar{
    background-color: #FF6347; /* Cambiado a rojo */
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-radius: 3px;
    width: 110px;
    height: 35px;   
}
.botoNUEVOSR{
    background-color: #1C75C7;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 3px;
    width: 200px;
    height: 38px;
}
.finanzas-button:hover {
    font-weight: bold;
}
.select2-container {
    width: 100% !important; /* Ancho del select */
}

.select2-selection--single {
    height: auto !important; /* Altura del select */
}
.tableFixHead {
    overflow-y: auto;
    max-height: 40vh; /* Limita la altura de la tabla al 70% de la altura de la pantalla */
    width: 100%; /* Ancho completo de la pantalla */
    border-color: #000000;
    border-bottom: #000000;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #69747F;
    border-radius: 5px;
}

.tabla {
    border-width: 2px;
    width: 100%; /* Ancho completo del contenedor */
}
.total-column {
    text-align: right; /* Alinea el texto a la derecha */
    font-weight: bold; /* Pone el texto en negrita */
}

.toggle-label {
    width: 44px; /* Ancho total del switch */
    margin-left: -6px;
}

/* Estilos del círculo que se mueve dentro del toggle */
input[type="checkbox"]:checked + .toggle-label .rounded-full {
    transform: translateX(100%);
}

/* Animación de movimiento */
input[type="checkbox"] {
    position: absolute;
    left: -9999px; /* Ocultar el checkbox */
}

.toggle-label .rounded-full {
    transition: transform 0.3s ease;
}
